[Desktop Entry]
Name=WikiMedia picture of the day
Name[pt]=Imagem do dia do Wikimedia
Name[pt_BR]=Imagem do dia da Wikimedia
Name[uk]=Зображення дня Wikimedia
Name[x-test]=xxWikiMedia picture of the dayxx
Comment=
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_pictureoftheday
X-KDE-PluginInfo-Author=Hormière Guillaume
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=pictureoftheday
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
