[Desktop Entry]
Name=WikiMedia article of the day
Name[et]=Wikimedia päevaartikkel
Name[fr]=Article du jour de WikiMédia
Name[km]=អត្ថបទ WikiMedia ប្រចាំថ្ងៃ
Name[nb]=Dagens Wikimedia-artikkel
Name[nl]=Wikimedia artikel van de dag
Name[pl]=Artykuł dnia na WikiMedia
Name[pt]=Artigo do dia do Wikimedia
Name[pt_BR]=Imagem do dia da Wikimedia
Name[sv]=Dagens artikel på Wikimedia
Name[uk]=Стаття дня у WikiMedia
Name[x-test]=xxWikiMedia article of the dayxx
Comment=
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_articleoftheday
X-KDE-PluginInfo-Author=de Vathaire Paolo
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=articleoftheday
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
