[Desktop Entry]
Name=Review Board
Name[pt]=Painel de Revisão
Name[pt_BR]=Painel de revisão
Name[sv]=Reviewboard
Name[uk]=Review Board
Name[x-test]=xxReview Boardxx
Comment=KDE's ReviewBoard Instance
Comment[pt]=Instância do ReviewBoard (Painel de Revisão) do KDE
Comment[pt_BR]=Instância do ReviewBoard do KDE
Comment[sv]=KDE:s instans av granskningstavlan Reviewboard
Comment[uk]=Система ReviewBoard KDE
Comment[x-test]=xxKDE's ReviewBoard Instancexx
Icon=kstars
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=reviewboard
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://reviewboard.kde.org/r/
X-Silk-AllowedBases=http://reviewboard.kde.org/
X-Silk-AllowedBases-Size=1
