[Desktop Entry]
Name=Review Board
Name[bs]=Pregledna tabla
Name[de]=Review Board
Name[et]=Ülevaatetahvel
Name[fi]=ReviewBoard
Name[fr]=Tableau de bord de révision
Name[gl]=Táboa de revisións
Name[km]=ពិនិត្យ​ក្ដារ​ឡើងវិញ
Name[nb]=Review Board
Name[nl]=Review Board
Name[pl]=Tablica przeglądowa
Name[pt]=Painel de Revisão
Name[pt_BR]=Painel de revisão
Name[sk]=Revízna komisia
Name[sv]=Reviewboard
Name[uk]=Review Board
Name[x-test]=xxReview Boardxx
Comment=KDE's ReviewBoard Instance
Comment[bs]=KDE-ov slučaj pregleda table
Comment[de]=Das ReviewBoard für KDE
Comment[et]=KDE ReviewBoardi isend
Comment[fi]=KDE:n ReviewBoard-instanssi
Comment[fr]=Instance de ReviewBoard de KDE
Comment[gl]=Instancia da táboa de revisións de KDE
Comment[km]=ធាតុ ReviewBoard របស់ KDE
Comment[nb]=KDEs ReviewBoard-instans
Comment[nl]=ReviewBoard exemplaar van KDE
Comment[pl]=Instancja tablicy przeglądowej KDE
Comment[pt]=Instância do ReviewBoard (Painel de Revisão) do KDE
Comment[pt_BR]=Instância do ReviewBoard do KDE
Comment[sk]=Inštancia KDE revíznej komisie
Comment[sv]=KDE:s instans av granskningstavlan Reviewboard
Comment[uk]=Система ReviewBoard KDE
Comment[x-test]=xxKDE's ReviewBoard Instancexx
Icon=kstars
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=reviewboard
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://reviewboard.kde.org/r/
X-Silk-AllowedBases=http://reviewboard.kde.org/
X-Silk-AllowedBases-Size=1
