[Desktop Entry]
Name=Selkie Test
Name[de]=Selkie-Test
Name[et]=Selkie test
Name[fr]=Test de Selkie
Name[gl]=Test de Selkie
Name[km]=សាកល្បង Selkie
Name[nb]=Selkie Test
Name[nl]=Selkie-test
Name[pl]=Test Selkie
Name[pt]=Teste do Selkie
Name[pt_BR]=Teste do Selkie
Name[sk]=Selkie Test
Name[sv]=Selkie-test
Name[uk]=Тест Selkie
Name[x-test]=xxSelkie Testxx
GenericName=Test Web Application
GenericName[et]=Veebirakenduse test
GenericName[fr]=Application Web de test
GenericName[gl]=Aplicativo web de proba
GenericName[km]=កម្មវិធី​សាកល្បង​បណ្ដញ
GenericName[nb]=Et test-vevprogram
GenericName[nl]=Webtoepassing testen
GenericName[pl]=Przetestuj program sieciowy
GenericName[pt]=Aplicação Web de Testes
GenericName[pt_BR]=Aplicativo Web de testes
GenericName[sk]=Testovať webovú aplikáciu
GenericName[sv]=Testa webbprogram
GenericName[uk]=Тестова вебпрограма
GenericName[x-test]=xxTest Web Applicationxx
Comment=Local Test Webpage Application for Selkie
Comment[et]=Selkie kohalik veebilehekülje testimise rakendus
Comment[fr]=Application de pages Web de test local pour Selkie
Comment[gl]=Aplicativo local de proba de páxinas web para Selkie
Comment[km]=កម្មវិធី​​ទំព័រ​បណ្ដាញ​សាកល្បង​មូលដ្ឋាន​សម្រាប់ Selkie
Comment[nb]=Lokal nettsideprogramtest for Selkie
Comment[nl]=Lokale toepassing voor testwebpagina voor Selkie
Comment[pl]=Lokalny program sieciowej strony testowej dla Selkie
Comment[pt]=Aplicação de Páginas Web de Testes Locais para o Selkie
Comment[pt_BR]=Aplicativo de páginas Web de testes locais para o Selkie
Comment[sk]=Miestna testovacia webová aplikácia pre Selkie
Comment[sv]=Lokalt testprogram med webbsidor för Selkie
Comment[uk]=Локальна тестова вебсторінка з програмою для Selkie
Comment[x-test]=xxLocal Test Webpage Application for Selkiexx
Exec=selkie test
Icon=flag
Type=Application
