[Desktop Entry]
Comment=An action in the Toolbar
Comment[es]=Un acción de la barra de herramientas
Comment[et]=Toiming tööriistaribal
Comment[nb]=En handling i verktøylinja
Comment[pt]=Uma acção na barra de ferramentas
Comment[pt_BR]=Uma ação na barra de ferramentas
Comment[sv]=En åtgärd i verktygsraden
Comment[uk]=Дія на панелі інструментів
Comment[x-test]=xxAn action in the Toolbarxx
Icon=flag-green
Name=Scale Content
Name[et]=Sisu skaleerimine
Name[nb]=Skaler innhold
Name[pt]=Ajustar o Conteúdo
Name[pt_BR]=Ajustar o conteúdo
Name[sv]=Skala innehåll
Name[uk]=Масштабування вмісту
Name[x-test]=xxScale Contentxx
Type=Service
X-KDE-PluginInfo-Name=silk-test-toolbar
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=scalediv.js
X-Silk-ShowOnUrl=file:///
X-Silk-ShowOnWildcard=
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=
X-Silk-WebApp=test
