[Desktop Entry]
Comment=Triggers an action on a URL
Icon=flag-yellow
Name=Toggle Header
Type=Service
X-KDE-PluginInfo-Name=silk-test-trigger
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=togglechrome.js
X-Silk-ShowOnUrl=file:///
X-Silk-ShowOnWildcard=
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*mountain.html,*
X-Silk-WebApp=test
