[Desktop Entry]
Comment=Show a native system notification
Comment[es]=Mostrar una notificación nativa del sistema
Comment[pt]=Mostrar uma notificação nativa do sistema
Comment[pt_BR]=Mostrar uma notificação de sistema nativa
Comment[sv]=Visa en inbyggd systemunderrättelse
Comment[uk]=Показ типового системного сповіщення
Comment[x-test]=xxShow a native system notificationxx
Icon=media-playlist-shuffle
Name=Notify
Name[nds]=Bescheed
Name[nl]=Melden
Name[pt]=Notificação
Name[pt_BR]=Notificação
Name[sv]=Underrättelse
Name[uk]=Сповіщення
Name[x-test]=xxNotifyxx
Type=Service
X-KDE-PluginInfo-Author=Sebastian
X-KDE-PluginInfo-Name=silk-test-editor
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=window.silk.showNotification('<strong>... Selkie says hi!</strong><br />');
X-Silk-ScriptFile=
X-Silk-ShowOnUrl=
X-Silk-ShowOnWildcard=*
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*beach.html
X-Silk-WebApp=test
