[Desktop Entry]
Comment=Local Test Pages for Selkie
Comment[et]=Selkie kohalikud testleheküljed
Comment[km]=ទំព័រ​សាកល្បង​មូលដ្ឋាន​សម្រាប់ Selkie
Comment[nb]=Lokale testsider for Selkie
Comment[pl]=Lokalna strona testowa dla Selkie
Comment[pt]=Páginas de Teste Locais do Selkie
Comment[pt_BR]=Páginas de teste locais do Selkie
Comment[sv]=Lokala testsidor för Selkie
Comment[uk]=Локальні тестові сторінки для Selkie
Comment[x-test]=xxLocal Test Pages for Selkiexx
Icon=kdf
Name=Selkie Test
Name[et]=Selkie test
Name[km]=សាកល្បង Selkie
Name[nb]=Selkie Test
Name[pl]=Test Selkie
Name[pt]=Teste do Selkie
Name[pt_BR]=Teste do Selkie
Name[sv]=Selkie-test
Name[uk]=Тест Selkie
Name[x-test]=xxSelkie Testxx
Type=Service
X-KDE-PluginInfo-Author=Sebas
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-ServiceType=Silk/WebApp
X-KDE-ServiceTypes=Silk/WebApp
X-Silk-AllowedBases=testsite/
X-Silk-StartUrl=testsite/selkie.html
#X-Silk-StyleSheets=alternative.css
