[Desktop Entry]
Comment=Triggers an action on a URL
Comment[de]=Löst eine Aktion für eine Adresse (URL) aus
Comment[et]=Toimingu käivitamine URL-iga
Comment[fr]=Déclenche une action sur un URL
Comment[gl]=Desencadea unha acción nunha URL
Comment[km]=កេះ​សកម្មភាព​នៅ​លើ URL
Comment[nb]=Utløser en handling på en URL
Comment[nl]=Start een actie op een URL
Comment[pl]=Wyzwala działanie na adresie URL
Comment[pt]=Despoleta uma acção num dado URL
Comment[pt_BR]=Ativa uma ação em uma URL
Comment[sv]=Utlöser en åtgärd för en webbadress
Comment[uk]=Вмикає дію у відповідь на вказану адресу URL
Comment[x-test]=xxTriggers an action on a URLxx
Icon=flag-yellow
Name=Toggle Header
Name[et]=Päise lülitamine
Name[fr]=(Dés)Activetion d'un en-tête
Name[gl]=Intercambiar o cabeceiro
Name[km]=បិទ/បើក​បឋមកថា
Name[nb]=Slå topptekst av/på
Name[nl]=Kop omschakelen
Name[pl]=Przełącz nagłówek
Name[pt]=Comutar o Cabeçalho
Name[pt_BR]=Trocar o cabeçalho
Name[sv]=Växla rubrik
Name[uk]=Вмикання або вимикання заголовка
Name[x-test]=xxToggle Headerxx
Type=Service
X-KDE-PluginInfo-Name=silk-test-trigger
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=togglechrome.js
X-Silk-ShowOnUrl=file:///
X-Silk-ShowOnWildcard=
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*mountain.html,*
X-Silk-WebApp=test
