[Desktop Entry]
Comment=Show a native system notification
Comment[es]=Mostrar una notificación nativa del sistema
Comment[et]=Loomupärase süsteemi märguande näitamine
Comment[fr]=Affiche une notification native système
Comment[km]=បង្ហាញ​ការ​ជូនដំណឹង​ប្រព័ន្ធ​ដើម
Comment[nb]=Vis en systemvarsling
Comment[nl]=Een eigen systeemmelding tonen
Comment[pl]=Pokaż natywne powiadomienia systemu
Comment[pt]=Mostrar uma notificação nativa do sistema
Comment[pt_BR]=Mostrar uma notificação de sistema nativa
Comment[sv]=Visa en inbyggd systemunderrättelse
Comment[uk]=Показ типового системного сповіщення
Comment[x-test]=xxShow a native system notificationxx
Icon=media-playlist-shuffle
Name=Notify
Name[bs]=Obavještenje
Name[cs]=Informovat
Name[de]=Benachrichtigung
Name[et]=Märguanne
Name[fr]=Notification
Name[ga]=Cuir Fógra Chugam
Name[hu]=Értesítés
Name[km]=ជូនដំណឹង
Name[nb]=Varsle
Name[nds]=Bescheed
Name[nl]=Melden
Name[pl]=Powiadom
Name[pt]=Notificação
Name[pt_BR]=Notificação
Name[sk]=Oznámiť
Name[sv]=Underrättelse
Name[ug]=ئۇقتۇرۇش
Name[uk]=Сповіщення
Name[x-test]=xxNotifyxx
Type=Service
X-KDE-PluginInfo-Author=Sebastian
X-KDE-PluginInfo-Name=silk-test-editor
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=window.silk.showNotification('<strong>... Selkie says hi!</strong><br />');
X-Silk-ScriptFile=
X-Silk-ShowOnUrl=
X-Silk-ShowOnWildcard=*
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*beach.html
X-Silk-WebApp=test
