[Desktop Entry]
Comment=An action in the Toolbar
Comment[bs]=Akcija na traci alata
Comment[de]=Eine Aktion in der Werkzeugleiste
Comment[es]=Un acción de la barra de herramientas
Comment[et]=Toiming tööriistaribal
Comment[fr]=Une action dans la barre d'outils
Comment[gl]=Unha acción na barra de ferramentas
Comment[km]=សកម្មភាព​នៅ​ក្នុង​របារឧបករណ៍​​​​
Comment[nb]=En handling i verktøylinja
Comment[nl]=Een actie in de werkbalk
Comment[pl]=Działanie w pasku narzędzi
Comment[pt]=Uma acção na barra de ferramentas
Comment[pt_BR]=Uma ação na barra de ferramentas
Comment[sk]=Akcia v paneli nástrojov
Comment[sv]=En åtgärd i verktygsraden
Comment[uk]=Дія на панелі інструментів
Comment[x-test]=xxAn action in the Toolbarxx
Icon=flag-green
Name=Scale Content
Name[bs]=Sadržaj razmjera
Name[de]=Inhalt skalieren
Name[es]=Escalar contenido
Name[et]=Sisu skaleerimine
Name[fr]=Ajustement du contenu
Name[gl]=Escalar o contido
Name[km]=ធ្វើ​មាត្រដ្ឋាន​មាតិកា
Name[nb]=Skaler innhold
Name[nl]=Inhoud van schaal
Name[pl]=Przeskaluj zawartość
Name[pt]=Ajustar o Conteúdo
Name[pt_BR]=Ajustar o conteúdo
Name[sk]=Rozsah obsahu
Name[sv]=Skala innehåll
Name[uk]=Масштабування вмісту
Name[x-test]=xxScale Contentxx
Type=Service
X-KDE-PluginInfo-Name=silk-test-toolbar
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=scalediv.js
X-Silk-ShowOnUrl=file:///
X-Silk-ShowOnWildcard=
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=
X-Silk-WebApp=test
