[Desktop Entry]
Comment=Local Test Pages for Selkie
Comment[bs]=Lokalni test za Selkie
Comment[de]=Lokale Testseiten für Selkie
Comment[es]=Páginas de prueba local para Selkie
Comment[fr]=Pages de test local pour Selkie
Comment[gl]=Proba local de páxinas para Selkie
Comment[km]=ទំព័រ​សាកល្បង​មូលដ្ឋាន​សម្រាប់ Selkie
Comment[nb]=Lokale testsider for Selkie
Comment[nl]=Lokale testpagina's voor Selkie
Comment[pl]=Lokalna strona testowa dla Selkie
Comment[pt]=Páginas de Teste Locais do Selkie
Comment[pt_BR]=Páginas de teste locais do Selkie
Comment[sk]=Miestne testovacie stránky pre Selkie
Comment[sv]=Lokala testsidor för Selkie
Comment[uk]=Локальні тестові сторінки для Selkie
Comment[x-test]=xxLocal Test Pages for Selkiexx
Icon=kdf
Name=Selkie Test
Name[bs]=Selkie Test
Name[de]=Selkie-Test
Name[es]=Prueba de Selkie
Name[fi]=Selkie-koe
Name[fr]=Test de Selkie
Name[gl]=Test de Selkie
Name[km]=សាកល្បង Selkie
Name[nb]=Selkie Test
Name[nl]=Selkie-test
Name[pl]=Test Selkie
Name[pt]=Teste do Selkie
Name[pt_BR]=Teste do Selkie
Name[sk]=Selkie Test
Name[sv]=Selkie-test
Name[uk]=Тест Selkie
Name[x-test]=xxSelkie Testxx
Type=Service
X-KDE-PluginInfo-Author=Sebas
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-ServiceType=Silk/WebApp
X-KDE-ServiceTypes=Silk/WebApp
X-Silk-AllowedBases=testsite/
X-Silk-StartUrl=testsite/selkie.html
#X-Silk-StyleSheets=alternative.css
