[Desktop Entry]
Comment=An action triggered by a Wildcard
Comment[bs]=Akcija aktivirana od strane džokera
Comment[de]=Eine Aktion, die durch einen Platzhalter ausgelöst wird
Comment[es]=Acción provocada por un comodín
Comment[et]=Metamärgi käivitatud toiming
Comment[fi]=Jokerimerkin käynnistämä toiminto
Comment[fr]=Une action déclenchée par un caractère de remplacement
Comment[gl]=Unha acción desencadeada por un carácter de substitución
Comment[km]=សកម្មភាព​ដែល​បាន​កេះ​ដោយ Wildcard
Comment[nb]=En handling utløst av et jokertegn
Comment[nl]=Een actie geactiveerd door een jokerteken
Comment[pl]=Działanie wyzwolone przez wieloznaczny znak
Comment[pt]=Uma acção despoletada por uma sequência de caracteres especiais
Comment[pt_BR]=Uma ação acionada por uma sequência de caracteres especiais
Comment[sk]=Akcia vyvolaná maskou
Comment[sv]=En åtgärd utlöst av ett jokertecken
Comment[uk]=Дія, увімкнена шаблоном заміни
Comment[x-test]=xxAn action triggered by a Wildcardxx
Icon=flag-blue
Name=Wildcard Match
Name[bs]=Podudarnost džokera
Name[de]=Platzhalter-Übereinstimmung
Name[es]=Búsqueda de comodines
Name[et]=Metamärgi sobivus
Name[fi]=Jokerimerkkiosuma
Name[fr]=Correspondance de caractères de remplacement
Name[gl]=Busca un carácter de substitución
Name[km]=ផ្គូផ្គង Wildcard
Name[nb]=Jokertegn-treff
Name[nl]=Overeenkomst met een jokerteken
Name[pl]=Wieloznaczne dopasowanie
Name[pt]=Correspondência de Caracteres Especiais
Name[pt_BR]=Correspondência de caracteres especiais
Name[sk]=Zhoda s maskou
Name[sv]=Jokertecken matchar
Name[uk]=Відповідність шаблону заміни
Name[x-test]=xxWildcard Matchxx
Type=Service
X-KDE-PluginInfo-Name=silk-test-wildcard
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=window.silk.showNotification('Wildcard *beach.* triggered ...', 'dialog-information');
X-Silk-ScriptFile=
X-Silk-ShowOnUrl=
X-Silk-ShowOnWildcard=*beach.*
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*beach.*
X-Silk-WebApp=test
