[Desktop Entry]
Name=Formula1Timing
Name[et]=Formula1Timing
Name[fr]=Formula1Timing
Name[km]=Formula1Timing
Name[nb]=Formel 1 tidtaking
Name[nl]=Formula1Timing
Name[pl]=Czasy dla Formuły 1
Name[pt]=TemporizaçãoFormula1
Name[pt_BR]=Temporização da Formula 1
Name[sv]=Formula1timing
Name[uk]=Formula1Timing
Name[x-test]=xxFormula1Timingxx
Comment=Formula 1 Live Timing
Comment[et]=Vormel 1 reaalajas
Comment[fr]=Chronométrage en direct pour la Formule 1
Comment[km]=Formula 1 Live Timing
Comment[nb]=Formel 1 tidtaking i sanntid
Comment[nl]=Formula 1 Live Timing
Comment[pl]=Czasy na żywo dla Formuły 1
Comment[pt]=Temporização em Directo da Fórmula 1
Comment[pt_BR]=Temporização direta da Fórmula 1
Comment[sv]=Formel 1 tider i realtid
Comment[uk]=Поточні результати Формули 1
Comment[x-test]=xxFormula 1 Live Timingxx
Exec=selkie formula1timing
Icon=kstars
Type=Application
