[Desktop Entry]
Name=Formula1Timing
Name[pt]=TemporizaçãoFormula1
Name[uk]=Formula1Timing
Name[x-test]=xxFormula1Timingxx
Comment=Formula 1 Live Timing
Comment[pt]=Temporização em Directo da Fórmula 1
Comment[uk]=Поточні результати Формули 1
Comment[x-test]=xxFormula 1 Live Timingxx
Exec=selkie formula1timing
Icon=kstars
Type=Application
