[Desktop Entry]
Name=Formula1Timing
Name[et]=Formula1Timing
Name[pt]=TemporizaçãoFormula1
Name[pt_BR]=Temporização da Formula 1
Name[sv]=Formula1timing
Name[uk]=Formula1Timing
Name[x-test]=xxFormula1Timingxx
Comment=Formula 1 Live Timing
Comment[et]=Vormel 1 reaalajas
Comment[pt]=Temporização em Directo da Fórmula 1
Comment[pt_BR]=Temporização direta da Fórmula 1
Comment[sv]=Formel 1 tider i realtid
Comment[uk]=Поточні результати Формули 1
Comment[x-test]=xxFormula 1 Live Timingxx
Exec=selkie formula1timing
Icon=kstars
Type=Application
