[Desktop Entry]
Name=Formula 1 Live Timing
Name[et]=Vormel 1 reaalajas
Name[fr]=Chronométrage en direct pour la Formule 1
Name[gl]=Formula 1 Live Timing
Name[km]=Formula 1 Live Timing
Name[nb]=Formel 1 tidtaking i sanntid
Name[nl]=Formula 1 Live Timing
Name[pl]=Czasy na żywo dla Formuły 1
Name[pt]=Temporização em Directo da Fórmula 1
Name[pt_BR]=Temporização direta da Fórmula 1
Name[sv]=Formel 1 tider i realtid
Name[uk]=Поточні результати Формули 1
Name[x-test]=xxFormula 1 Live Timingxx
Comment=Formula 1 Live Timing during training, qualifing and racing
Comment[et]=Vormel 1 reaalajas treeningute, kvalifikatsiooni ja sõitude ajal
Comment[fr]=Chronométrage en direct pour la Formule 1 pendant les entraînements, les qualifications et la course
Comment[gl]=Formula 1 Live Timing durante o adestramento, as cualificacións e na carreira
Comment[km]=ការ​បណ្ដុះបណ្ដាល​ក្នុង​អំឡុង​ពេល Formula 1 Live Timing during training, qualifing and racing
Comment[nb]=Formel 1 tidtaking i sannrtid under trening, kvalifisering og konkurranse
Comment[nl]=Formula 1 Live Timing tijdens training, kwalificeren en racen
Comment[pl]=Czasy na żywo dla Formuły 1 podczas treningów, kwalifikacji i wyścigów
Comment[pt]=Temporização em directo da Fórmula 1 durante os treinos, qualificação e corrida
Comment[pt_BR]=Temporização direta da Fórmula 1 durante os treinos, qualificação e corrida
Comment[sv]=Formel 1 tider i realtid under träning, kvalifikation och tävling
Comment[uk]=Поточна таблиця результатів Формули 1 для тренувальних заїздів, кваліфікацій та перегонів
Comment[x-test]=xxFormula 1 Live Timing during training, qualifing and racingxx
Icon=kstars
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Tom Albers
X-KDE-PluginInfo-Email=toma@kde.org
X-KDE-PluginInfo-Name=formula1timing
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Sports
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://www.formula1.com/services/live_timing/live_timing_popup.html
X-Silk-AllowedBases=http://formula1.com
X-Silk-AllowedBases-Size=1
