[Desktop Entry]
Name=Selkie
Name[es]=Selkie
Name[et]=Selkie
Name[fr]=Selkie
Name[km]=Selkie
Name[nb]=Selkie
Name[nl]=Selkie
Name[pl]=Selkie
Name[pt]=Selkie
Name[pt_BR]=Selkie
Name[sk]=Selkie
Name[sv]=Selkie
Name[uk]=Selkie
Name[x-test]=xxSelkiexx
GenericName=Experimental site-specific Web Browser
GenericName[es]=Navegador web experimental para un sitio específico
GenericName[et]=Eksperimentaalne saidipõhine veebibrauser
GenericName[fr]=Navigateur web expérimental dédié aux sites
GenericName[km]=បទពិសោធន៍​កម្មវិធី​រុក​តំបន់​បណ្ដាញ​ជាក់លាក់
GenericName[nb]=Eksperimentell nettleser for spesielle nettsteder
GenericName[nl]=Experimentele site-specifieke Webbrowser
GenericName[pl]=Eksperymentalna przeglądarka internetowa charakterystyczna dla strony
GenericName[pt]=Navegador Web experimental específico do servidor
GenericName[pt_BR]=Navegador Web experimental específico do servidor
GenericName[sv]=Experimentell platsspecifik webbläsare
GenericName[uk]=Експериментальна програма для перегляду певних сайтів
GenericName[x-test]=xxExperimental site-specific Web Browserxx
Exec=selkie silk
Icon=webkit
Type=Application
