[Desktop Entry]
Name=Selkie
Name[es]=Selkie
Name[pt]=Selkie
Name[pt_BR]=Selkie
Name[sv]=Selkie
Name[uk]=Selkie
Name[x-test]=xxSelkiexx
GenericName=Experimental site-specific Web Browser
GenericName[es]=Navegador web experimental para un sitio específico
GenericName[pt]=Navegador Web experimental específico do servidor
GenericName[pt_BR]=Navegador Web experimental específico do servidor
GenericName[sv]=Experimentell platsspecifik webbläsare
GenericName[uk]=Експериментальна програма для перегляду певних сайтів
GenericName[x-test]=xxExperimental site-specific Web Browserxx
Exec=selkie silk
Icon=webkit
Type=Application
