[Desktop Entry]
Name=Geoweb - Location
Name[et]=Geoveeb - Asukoht
Name[fr]=Géoweb - Emplacement
Name[km]=Geoweb - ទីតាំង
Name[nb]=Geoweb – sted
Name[pl]=Geoweb - Położenie
Name[pt]=Geoweb - Localização
Name[pt_BR]=Geoweb - Localização
Name[sv]=Geoweb - Plats
Name[uk]=Geoweb — Розташування
Name[x-test]=xxGeoweb - Locationxx
Comment=Applet for Geoweb source - Location (with dataengine configuration)
Comment[et]=Geoveebi allika aplett - Asukoht (andmemootori seadistamisega)
Comment[fr]=Applet pour une source du Géoweb - Emplacement (avec la configuration du moteur de données)
Comment[km]=អាប់ភ្លេត​សម្រាប់​ប្រភព Geoweb - ទីតាំង (ជាមួយ​ការកំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​ទិន្នន័យ)
Comment[nb]=Miniprogram for Geoweb kilde – sted (med oppsett for datamotor)
Comment[pl]=Aplet dla źródła Geoweb - Położenie (z konfiguracją silnika danych)
Comment[pt]='Applet' da fonte do Geoweb - Localização (com configuração do motor de dados)
Comment[pt_BR]=Miniaplicativo da fonte do Geoweb - Localização (com configuração do mecanismo de dados)
Comment[sv]=Miniprogram för källan Geoweb - Plats (med inställning av datagränssnitt)
Comment[uk]=Аплет даних Geoweb — Розташування (з налаштуванням джерела даних)
Comment[x-test]=xxApplet for Geoweb source - Location (with dataengine configuration)xx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_geoweb-location
X-KDE-PluginInfo-Author=Peter Schiffer
X-KDE-PluginInfo-Email=peter.schiffer@eyeos.cz
X-KDE-PluginInfo-Name=geoweb-location
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=applications-internet
