[Desktop Entry]
Name=PictureOfTheDay
Name[ca]=PictureOfTheDay
Name[ca@valencia]=PictureOfTheDay
Name[cs]=PictureOfTheDay
Name[da]=PictureOfTheDay
Name[de]=PictureOfTheDay
Name[el]=PictureOfTheDay
Name[en_GB]=PictureOfTheDay
Name[eo]=PictureOfTheDay
Name[es]=PictureOfTheDay
Name[et]=PictureOfTheDay
Name[fi]=PictureOfTheDay
Name[fr]=PictureOfTheDay
Name[ga]=PictureOfTheDay
Name[gl]=PictureOfTheDay
Name[hu]=PictureOfTheDay
Name[it]=PictureOfTheDay
Name[ja]=PictureOfTheDay
Name[kk]=PictureOfTheDay
Name[km]=PictureOfTheDay
Name[ko]=PictureOfTheDay
Name[lv]=PictureOfTheDay
Name[nb]=PictureOfTheDay
Name[nds]=PictureOfTheDay
Name[nl]=PictureOfTheDay
Name[nn]=PictureOfTheDay
Name[pa]=PictureOfTheDay
Name[pl]=PictureOfTheDay
Name[pt]=PictureOfTheDay
Name[pt_BR]=PictureOfTheDay
Name[ro]=PictureOfTheDay
Name[ru]=PictureOfTheDay
Name[sr]=PictureOfTheDay
Name[sr@ijekavian]=PictureOfTheDay
Name[sr@ijekavianlatin]=PictureOfTheDay
Name[sr@latin]=PictureOfTheDay
Name[sv]=PictureOfTheDay
Name[tr]=PictureOfTheDay
Name[uk]=PictureOfTheDay
Name[x-test]=xxPictureOfTheDayxx
Name[zh_CN]=PictureOfTheDay
Name[zh_TW]=PictureOfTheDay
Comment=Plasma PictureOfTheDay
Comment[ca]=Plasma PictureOfTheDay
Comment[ca@valencia]=Plasma PictureOfTheDay
Comment[cs]=Plasma PictureOfTheDay
Comment[da]=Plasma PictureOfTheDay
Comment[de]=Plasma PictureOfTheDay
Comment[el]=Plasma PictureOfTheDay
Comment[en_GB]=Plasma PictureOfTheDay
Comment[eo]=Plasma PictureOfTheDay
Comment[es]=Plasma PictureOfTheDay
Comment[et]=Plasma PictureOfTheDay
Comment[fi]=Plasma PictureOfTheDay
Comment[fr]=Plasma PictureOfTheDay
Comment[ga]=Plasma PictureOfTheDay
Comment[gl]=Plasma PictureOfTheDay
Comment[hu]=Plasma PictureOfTheDay
Comment[it]=Plasma PictureOfTheDay
Comment[ja]=Plasma PictureOfTheDay
Comment[kk]=Plasma PictureOfTheDay
Comment[km]=ប្លាស្មា PictureOfTheDay
Comment[ko]=Plasma PictureOfTheDay
Comment[lv]=Plasma PictureOfTheDay
Comment[nb]=Plasma PictureOfTheDay
Comment[nds]=Plasma PictureOfTheDay
Comment[nl]=Plasma PictureOfTheDay
Comment[nn]=Plasma PictureOfTheDay
Comment[pa]=ਪਲਾਜ਼ਮਾ PictureOfTheDay
Comment[pl]=Plasma PictureOfTheDay
Comment[pt]=Plasma PictureOfTheDay
Comment[pt_BR]=Plasma PictureOfTheDay
Comment[ro]=Plasma PictureOfTheDay
Comment[ru]=Plasma PictureOfTheDay
Comment[sr]=Плазмин PictureOfTheDay
Comment[sr@ijekavian]=Плазмин PictureOfTheDay
Comment[sr@ijekavianlatin]=Plasmin PictureOfTheDay
Comment[sr@latin]=Plasmin PictureOfTheDay
Comment[sv]=Plasma PictureOfTheDay
Comment[tr]=Plasma PictureOfTheDay
Comment[uk]=Плазма PictureOfTheDay
Comment[x-test]=xxPlasma PictureOfTheDayxx
Comment[zh_CN]=Plasma PictureOfTheDay
Comment[zh_TW]=Plasma PictureOfTheDay
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_pictureoftheday
X-KDE-PluginInfo-Author=Hormière Guillaume
X-KDE-PluginInfo-Email=hormiere.guillaume@gmail.com
X-KDE-PluginInfo-Name=pictureoftheday
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Ubuntu-Gettext-Domain=desktop_kdesdk
