[Desktop Entry]
Name=Source Tree
Comment=View Project Silk's Commit Log
Icon=view-list-tree

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=silk-sourcetree

X-Silk-WebApp=silk
X-Silk-ShowOnUrl=http://gitorious.org/
X-Silk-ScriptFiles=noop-script.js
X-Silk-Script=window.location = 'http://gitorious.org/project-silk/project-silk/trees'