[Desktop Entry]
Name=Trigger
Comment=Triggers an action on a URL
Icon=flag-green

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=silk-urltrigger

X-Silk-WebApp=silk
X-Silk-ShowOnUrl=http://gitorious.org/
X-Silk-TriggerOnUrl=http://gitorious.org/project-silk/project-silk/commits/
X-Silk-ScriptFile=togglesidebar.js
