
#header {width: 90%; height: 40px; font-size: 20px; background-color: #146C17; color: white; }

#content {width: 90%; min-height: 200px; font-size: 20px; color: purple; }

#footer {width: 90%; height: 20px; font-size: 20px; background-color: #146C17;  color: white; }


/*#mountains { -webkit-transition: -webkit-transform 3s ease-in; }*/