[Desktop Entry]
Name=Geoweb - Open Street Map
Name[et]=Geoveeb - Open Street Map
Name[fr]=Géoweb - Open Street Map
Name[gl]=Geoweb - Open Street Map
Name[hu]=Geoweb - Open Street Map
Name[km]=Geoweb - បើក​ផែនទី​បង្ហាញ​ផ្លូវ
Name[nb]=Geoweb – Open Street Map
Name[nl]=Geoweb - Open Street Map
Name[pl]=Geoweb - Open Street Map
Name[pt]=Geoweb - Open Street Map
Name[pt_BR]=Geoweb - Open Street Map
Name[sk]=Geoweb - Open Street Map
Name[sv]=Geoweb - Open Street Map
Name[uk]=Geoweb — Open Street Map
Name[x-test]=xxGeoweb - Open Street Mapxx
Comment=Applet for Geoweb source - Open Street Map
Comment[et]=Geoveebi allika aplett - Open Street Map
Comment[fr]=Applet pour une source du Géoweb - Open Street Map
Comment[gl]=Applet para fontes Geoweb - Open Street Map
Comment[hu]=Kisalkalmazás a Geoweb forráshoz - Open Street Map
Comment[km]=អាប់ភ្លេត​សម្រាប់​ប្រភព Geoweb - បើក​ផែនទី​បង្ហាញ​ផ្លូវ
Comment[nb]=Miniprogram for Geoweb kilde – Open Street Map
Comment[nl]=Applet voor Geoweb brongegevens - Open Street Map
Comment[pl]=Aplet dla Geoweb - Open Street Map
Comment[pt]='Applet' da fonte do Geoweb - Open Street Map
Comment[pt_BR]=Miniaplicativo da fonte do Geoweb - Open Street Map
Comment[sk]=Applet pre zdroj Geoweb - Open Street Map
Comment[sv]=Miniprogram för källan Geoweb - Open Street Map
Comment[uk]=Аплети даних Geoweb — Open Street Map
Comment[x-test]=xxApplet for Geoweb source - Open Street Mapxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_geoweb-openstreetmap
X-KDE-PluginInfo-Author=Peter Schiffer
X-KDE-PluginInfo-Email=peter.schiffer@eyeos.cz
X-KDE-PluginInfo-Name=geoweb-openstreetmap
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
