[Desktop Entry]
Name=GMail
Name[de]=GMail
Name[es]=GMail
Name[et]=GMail
Name[nds]=GMail
Name[nl]=GMail
Name[pt]=GMail
Name[pt_BR]=GMail
Name[sv]=Gmail
Name[uk]=GMail
Name[x-test]=xxGMailxx
Comment=A GMail Browser
Comment[et]=GMaili brauser
Comment[pt]=Um Navegador do GMail
Comment[pt_BR]=Um navegador do GMail
Comment[sv]=En Gmail-bläddrare
Comment[uk]=Переглядач GMail
Comment[x-test]=xxA GMail Browserxx
Exec=selkie gmail
Icon=mail-message
Type=Application
