[Desktop Entry]
Name=GMail
Name[de]=GMail
Name[es]=GMail
Name[et]=GMail
Name[fi]=GMail
Name[fr]=GMail
Name[hu]=GMail
Name[km]=GMail
Name[nb]=GMail
Name[nds]=GMail
Name[nl]=GMail
Name[pl]=GMail
Name[pt]=GMail
Name[pt_BR]=GMail
Name[sk]=GMail
Name[sv]=Gmail
Name[uk]=GMail
Name[x-test]=xxGMailxx
Comment=A GMail Browser
Comment[et]=GMaili brauser
Comment[fr]=Un navigateur pour GMail
Comment[km]=កម្មវិធី​រុករក GMail
Comment[nb]=En GMail-leser
Comment[nl]=Een GMail-browser
Comment[pl]=Przeglądarka GMail
Comment[pt]=Um Navegador do GMail
Comment[pt_BR]=Um navegador do GMail
Comment[sv]=En Gmail-bläddrare
Comment[uk]=Переглядач GMail
Comment[x-test]=xxA GMail Browserxx
Exec=selkie gmail
Icon=mail-message
Type=Application
