[Desktop Entry]
Name=GMail
Name[es]=GMail
Name[nds]=GMail
Name[nl]=GMail
Name[pt]=GMail
Name[sv]=Gmail
Name[uk]=GMail
Name[x-test]=xxGMailxx
Comment=Google's Email Service
Comment[es]=Servicio de correo de Google
Comment[nl]=E-mailservice van Google
Comment[pt]=Serviço de E-Mail da Google
Comment[uk]=Служба сповіщення щодо пошти Google
Comment[x-test]=xxGoogle's Email Servicexx
Icon=mail-message
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=gmail
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://mail.google.com
X-Silk-AllowedBases=http://mail.google.com/
X-Silk-AllowedBases-Size=1
