[Desktop Entry]
Name=Hello
Name[et]=Tere
Name[km]=សួស្ដី
Name[nb]=Hallo
Name[nds]=Moin
Name[nl]=Hallo
Name[pt]=Olá
Name[pt_BR]=Olá
Name[sv]=Hallå
Name[ug]=ئەسسالامۇئەلەيكۇم
Name[uk]=Привіт
Name[x-test]=xxHelloxx
Comment=Trigger a Notification saying Hello
Comment[et]=Märguande käivitamine, mis ütleb tere
Comment[km]=កេះ​ការ​ជូនដំណឹង​ដោយ​ការ​និយាយ​សួស្ដី
Comment[nb]=Løs ut en varsling som sier Hallo
Comment[nl]=Een melding starten door Hallo te zeggen
Comment[pt]=Emitir uma Notificação a dizer Olá
Comment[pt_BR]=Emitir uma notificação dizendo Olá
Comment[sv]=Utlös en underrättelse som säger hallå
Comment[uk]=Запуск сповіщення з привітанням
Comment[x-test]=xxTrigger a Notification saying Helloxx
Icon=dialog-information

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=gmail-hello
X-KDE-PluginInfo-Depends=gmail

X-Silk-WebApp=gmail
X-Silk-ShowOnUrl=http://mail.google.com
X-Silk-ScriptFile=hello.js
