[Desktop Entry]
Name=Hello
Name[bs]=Zdravo.
Name[cs]=Ahoj
Name[de]=Hallo
Name[et]=Tere
Name[fi]=Hei
Name[fr]=Bonjour
Name[gl]=Ola
Name[hu]=Helló
Name[km]=សួស្ដី
Name[mr]=हेल्लो
Name[nb]=Hallo
Name[nds]=Moin
Name[nl]=Hallo
Name[pl]=Hello
Name[pt]=Olá
Name[pt_BR]=Olá
Name[sk]=Ahoj
Name[sv]=Hallå
Name[ug]=ئەسسالامۇئەلەيكۇم
Name[uk]=Привіт
Name[x-test]=xxHelloxx
Comment=Trigger a Notification saying Hello
Comment[bs]=Aktivirano obavještenje govori Zdravo
Comment[de]=Löst eine Benachrichtigung mit „Hallo“ aus
Comment[et]=Märguande käivitamine, mis ütleb tere
Comment[fi]=Luo ilmoitus, joka sanoo Hei
Comment[fr]=Déclenche une notification indiquant « Bonjour »
Comment[gl]=Desencadear a unha notificación dicindo Ola
Comment[hu]=Egy értesítés előidézése, amely azt mondja „Helló”
Comment[km]=កេះ​ការ​ជូនដំណឹង​ដោយ​ការ​និយាយ​សួស្ដី
Comment[nb]=Løs ut en varsling som sier Hallo
Comment[nl]=Een melding starten door Hallo te zeggen
Comment[pl]=Wyzwól powiadomienie mówiąc Hello
Comment[pt]=Emitir uma Notificação a dizer Olá
Comment[pt_BR]=Emitir uma notificação dizendo Olá
Comment[sk]=Vyvolať upozornenie hovoriace Ahoj
Comment[sv]=Utlös en underrättelse som säger hallå
Comment[uk]=Запуск сповіщення з привітанням
Comment[x-test]=xxTrigger a Notification saying Helloxx
Icon=dialog-information

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=gmail-hello
X-KDE-PluginInfo-Depends=gmail

X-Silk-WebApp=gmail
X-Silk-ShowOnUrl=http://mail.google.com
X-Silk-ScriptFile=hello.js
