[Desktop Entry]
Name=Notify
Name[nl]=Melden
Name[pt]=Notificação
Name[sv]=Underrättelse
Name[uk]=Сповіщення
Name[x-test]=xxNotifyxx
Comment=Trigger a Notification
Comment[nl]=Melding starten
Comment[pt]=Emitir uma Notificação
Comment[uk]=Вмикає сповіщення
Comment[x-test]=xxTrigger a Notificationxx
Icon=dialog-information

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=gmail-notify
X-KDE-PluginInfo-Depends=gmail

X-Silk-WebApp=gmail
X-Silk-ShowOnUrl=http://mail.google.com
X-Silk-ScriptFiles=noop-script.js
X-Silk-Script=silk.showNotification('Pay Attention!')
