[Desktop Entry]
Name=Notify
Name[de]=Benachrichtigung
Name[et]=Märguanne
Name[nb]=Varsle
Name[nds]=Bescheed
Name[nl]=Melden
Name[pt]=Notificação
Name[pt_BR]=Notificação
Name[sv]=Underrättelse
Name[ug]=ئۇقتۇرۇش
Name[uk]=Сповіщення
Name[x-test]=xxNotifyxx
Comment=Trigger a Notification
Comment[de]=Eine Benachrichtigung auslösen
Comment[et]=Märguande käivitamine
Comment[nb]=Løs ut en varsling
Comment[nl]=Melding starten
Comment[pt]=Emitir uma Notificação
Comment[pt_BR]=Emitir uma notificação
Comment[sv]=Utlös en underrättelse
Comment[uk]=Вмикає сповіщення
Comment[x-test]=xxTrigger a Notificationxx
Icon=dialog-information

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=gmail-notify
X-KDE-PluginInfo-Depends=gmail

X-Silk-WebApp=gmail
X-Silk-ShowOnUrl=http://mail.google.com
X-Silk-ScriptFiles=noop-script.js
X-Silk-Script=silk.showNotification('Pay Attention!')
