[Desktop Entry]
Name=Hello
Name[nds]=Moin
Name[nl]=Hallo
Name[pt]=Olá
Name[uk]=Привіт
Name[x-test]=xxHelloxx
Comment=Trigger a Notification saying Hello
Comment[nl]=Een melding starten door Hallo te zeggen
Comment[pt]=Emitir uma Notificação a dizer Olá
Comment[uk]=Запуск сповіщення з привітанням
Comment[x-test]=xxTrigger a Notification saying Helloxx
Icon=dialog-information

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=gmail-hello
X-KDE-PluginInfo-Depends=gmail

X-Silk-WebApp=gmail
X-Silk-ShowOnUrl=http://mail.google.com
X-Silk-ScriptFile=hello.js
