[Desktop Entry]
Comment=An action triggered by a Glob
Icon=flag-yellow
Name=Scale Content
Type=Service
X-KDE-PluginInfo-Name=silk-test-toolbar
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=window.silk.showNotification('Glob Triggered ...');
X-Silk-ShowOnGlob=*beach.*
X-Silk-TriggerOnGlob=*beach.*
X-Silk-WebApp=test
