[Desktop Entry]
Comment=An action triggered by a Wildcard
Icon=flag-blue
Name=Wildcard Match
Type=Service
X-KDE-PluginInfo-Name=silk-test-wildcard
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=window.silk.showNotification('Wildcard *beach.* triggered ...', 'dialog-information');
X-Silk-ScriptFile=
X-Silk-ShowOnUrl=
X-Silk-ShowOnWildcard=*beach.*
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*beach.*
X-Silk-WebApp=test
