[Desktop Entry]
Author=Sebastian Kügler <sebas@kde.org>
Comment=Rotate the content of a web page
Icon=draw-spiral
Name=Rotate Content
Type=Service
X-KDE-PluginInfo-Name=silk-test-trigger
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-ScriptFile=togglechrome.js
X-Silk-ShowOnWildcard=*
X-Silk-TriggerOnWildcard=*beach.html
X-Silk-WebApp=test
