[Desktop Entry]
Comment=Rotate the content of a web page
Icon=draw-spiral
Name=Rotate Content
Type=Service
X-KDE-PluginInfo-Author=Sebastian
X-KDE-PluginInfo-Name=silk-test-rotate
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=togglechrome.js
X-Silk-ShowOnUrl=eins,vier
X-Silk-ShowOnWildcard=*
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=*beach.html
X-Silk-WebApp=test
