[Desktop Entry]
Comment=An action in the Toolbar
Icon=flag-green
Name=Scale Content
Type=Service
X-KDE-PluginInfo-Name=silk-test-toolbar
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-ScriptFile=toolbaraction.js
X-Silk-ShowOnUrl=file:///
X-Silk-WebApp=test
