[Desktop Entry]
Name=Buienradar
Comment=Rain in The Netherlands?
Icon=kweather
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Tom Albers
X-KDE-PluginInfo-Email=toma@kde.org
X-KDE-PluginInfo-Name=buienradar
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Weather
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://www.buienradar.nl/images.aspx?jaar=-3&bliksem=0&voor=&soort=verwachting1x1
X-Silk-AllowedBases=http://www.buienradar.nl
X-Silk-AllowedBases-Size=1
