[Desktop Entry]
Name=Geoweb - Hello
Name[et]=Geoveeb - Tere tulemast
Name[fr]=Géoweb - Bonjour
Name[gl]=Geoweb - Olá
Name[hu]=Geoweb - Helló
Name[km]=Geoweb - សួស្ដី
Name[nb]=Geoweb – Hello
Name[nl]=Geoweb - Hello
Name[pl]=Geoweb - Hello
Name[pt]=Geoweb - Olá
Name[pt_BR]=Geoweb - Olá
Name[sv]=Geoweb - Hello
Name[uk]=Geoweb — Привіт
Name[x-test]=xxGeoweb - Helloxx
Comment=Applet for Geoweb source - Hello
Comment[et]=Geoveebi allika aplett - Tere tulemast
Comment[fr]=Applet pour une source du Géoweb - Bonjour
Comment[hu]=Kisalkalmazás a Geoweb forráshoz - Helló
Comment[km]=អាប់ភ្លេត​សម្រាប់​ប្រភព Geoweb - សួស្ដី
Comment[nb]=Miniprogram for Geoweb kilde – Hello
Comment[nl]=Applet voor Geoweb-bron - Hello
Comment[pl]=Aplet dla źródła Geoweb - Hello
Comment[pt]='Applet' para a fonte do Geoweb - Olá
Comment[pt_BR]=Miniaplicativo para a fonte do Geoweb - Olá
Comment[sv]=Miniprogram för källan Geoweb - Hello
Comment[uk]=Аплет даних Geoweb — Привіт
Comment[x-test]=xxApplet for Geoweb source - Helloxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_geoweb-hello
X-KDE-PluginInfo-Author=Peter Schiffer
X-KDE-PluginInfo-Email=peter.schiffer@eyeos.cz
X-KDE-PluginInfo-Name=geoweb-hello
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
