[Desktop Entry]
Name=Planet KDE
Name[nl]=Planet KDE
Name[pt]=Planet KDE
Name[sv]=Planet KDE
Name[uk]=Планета KDE
Name[x-test]=xxPlanet KDExx
Comment=Developer Blogs
Comment[pt]='Blogs' de Desenvolvimento
Comment[uk]=Блоги розробників
Comment[x-test]=xxDeveloper Blogsxx
Exec=selkie planetkde
Icon=kde
StartupNotify=true
Type=Application
