[Desktop Entry]
Name=Planet KDE
Name[de]=Planet KDE
Name[et]=Planet KDE
Name[fr]=Planète KDE
Name[gl]=Planet KDE
Name[km]=Planet KDE
Name[nb]=Planet KDE
Name[nl]=Planet KDE
Name[pl]=Planeta KDE
Name[pt]=Planet KDE
Name[pt_BR]=Planet KDE
Name[sk]=Planéta KDE
Name[sv]=Planet KDE
Name[uk]=Планета KDE
Name[x-test]=xxPlanet KDExx
Comment=Developer Blogs
Comment[de]=Entwickler-Blogs
Comment[et]=Arendajate ajaveebid
Comment[fr]=Blogues de développeurs
Comment[gl]=Blogues dos desenvolvedores
Comment[km]=អ្នក​អភិវឌ្ឍន៍​កំណត់ហេតុ​បណ្ដាញ
Comment[nb]=Utviklerblogger
Comment[nl]=Blogs van ontwerpers
Comment[pl]=Programista Blogs
Comment[pt]='Blogs' de Desenvolvimento
Comment[pt_BR]=Blogs dos desenvolvedores
Comment[sv]=Utvecklarnas bloggar
Comment[uk]=Блоги розробників
Comment[x-test]=xxDeveloper Blogsxx
Exec=selkie planetkde
Icon=kde
StartupNotify=true
Type=Application
