[Desktop Entry]
Name=Planet KDE
Name[de]=Planet KDE
Name[et]=Planet KDE
Name[fr]=Planète KDE
Name[km]=Planet KDE
Name[nb]=Planet KDE
Name[nl]=Planet KDE
Name[pl]=Planeta KDE
Name[pt]=Planet KDE
Name[pt_BR]=Planet KDE
Name[sk]=Planéta KDE
Name[sv]=Planet KDE
Name[uk]=Планета KDE
Name[x-test]=xxPlanet KDExx
Comment=KDE Developer Weblogs
Comment[de]=Weblogs von KDE-Entwicklern
Comment[et]=KDE arendajate ajaveebid
Comment[fr]=Blogues web des développeurs de KDE
Comment[km]=អ្នក​អភិវឌ្ឍន៍​កំណត់ហេតុ​បណ្ដាញ KDE
Comment[nb]=Weblogger for KDE-utviklere
Comment[nl]=Weblogs van KDE ontwerpers
Comment[pl]=Programista KDE Weblogs
Comment[pt]='Blogs' Web de Desenvolvimento do KDE
Comment[pt_BR]=Blogs Web dos desenvolvedores do KDE
Comment[sv]=KDE-utvecklarnas webbloggar
Comment[uk]=Блоги розробників KDE
Comment[x-test]=xxKDE Developer Weblogsxx
Icon=kde
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=planetkde
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Community
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://planetkde.org
X-Silk-AllowedBases=http://planetkde.org/
X-Silk-StyleSheets=pko.css
