[Desktop Entry]
Comment=Compose a New Email
Comment[de]=Eine neue E-Mail erstellen
Comment[et]=Uue kirja koostamine
Comment[fr]=Rédige un nouveau courriel
Comment[hu]=Új e-mail írása
Comment[km]=តែង​អ៊ីមែល​ថ្មី
Comment[nb]=Lag en ny e-post
Comment[nl]=Een nieuwe e-mail maken
Comment[pl]=Napisz nowego e-maila
Comment[pt]=Compor um Novo E-Mail
Comment[pt_BR]=Compor um movo e-mail
Comment[sv]=Skriv ett nytt brev
Comment[uk]=Створення повідомлення електронної пошти
Comment[x-test]=xxCompose a New Emailxx
Icon=im-status-message-edit
Name=Compose
Name[de]=Erstellen
Name[et]=Koostamine
Name[fr]=Composition
Name[hu]=Írás
Name[km]=តែង
Name[nb]=Sett sammen
Name[nl]=Maken
Name[pl]=Napisz
Name[pt]=Compor
Name[pt_BR]=Compor
Name[sv]=Skriv brev
Name[ug]=يېڭى ئۇچۇر
Name[uk]=Створення
Name[x-test]=xxComposexx
Type=Service
X-KDE-PluginInfo-Depends=gmail
X-KDE-PluginInfo-Name=im-status-message-edit
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-ScriptFile=pko-functions.js
X-Silk-Script=showTwitter();
X-Silk-ShowOnWildcard=http://planetkde.org/*
X-Silk-WebApp=planetkde
