[Desktop Entry]
Name=Geoweb - Open Street Map - Map
Name[et]=Geoveeb - Open Street Map - Kaart
Name[km]=Geoweb - បើក​ផែនទី​បង្ហាញ​ផ្លូវ - ផែនទី
Name[nb]=Geoweb – Open Street Map – Kart
Name[pt]=Geoweb - Open Street Map - Mapa
Name[pt_BR]=Geoweb - Open Street Map - Mapa
Name[sv]=Geoweb - Open Street Map - Karta
Name[uk]=Geoweb — Open Street Map — Карта
Name[x-test]=xxGeoweb - Open Street Map - Mapxx
Comment=Applet for Geoweb - Open Street Map
Comment[et]=Geoveebi aplett - Open Street Map
Comment[km]=អាប់ភ្លេត​សម្រាប់ Geoweb - បើក​ផែនទី​បង្ហាញ​ផ្លូវ
Comment[nb]=Miniprogram for Geoweb – Open Street Map
Comment[pt]='Applet' para o Geoweb - Open Street Map
Comment[pt_BR]=Miniaplicativo para o Geoweb - Open Street Map
Comment[sv]=Miniprogram för Geoweb - Open Street Map
Comment[uk]=Аплет Geoweb — Open Street Map
Comment[x-test]=xxApplet for Geoweb - Open Street Mapxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_geoweb-openstreetmap-map
X-KDE-PluginInfo-Author=Peter Schiffer
X-KDE-PluginInfo-Email=peter.schiffer@eyeos.cz
X-KDE-PluginInfo-Name=geoweb-openstreetmap-map
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
