[Desktop Entry]
Name=Site-Specific Browser
GenericName=Experimental site-specific Web Browser
Exec=sitespecificbrowser silk
Icon=webkit
Type=Application
