[Desktop Entry]
Name=GMail
Icon=mail-message
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=gmail
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Email
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://mail.google.com/
X-Silk-WindowTitle=GMail
X-Silk-AllowedBasesUrls=http://mail.google.com/
X-Silk-AllowedBasesUrls-Size=1
