[Desktop Entry]
Name=Gitorious Silk
GenericName=Project Silk's Repository on Gitorious
Comment=Project Silk on Gitorious
Exec=selkie silk
Icon=project-development
Type=Application
