[Desktop Entry]
Comment=Toggle the Chrome in Gitorious Interface
Comment[et]=Chrome'i lülitamine Gitoriouse liidesele
Comment[fr]=Active / Désactive Chrome dans l'interface Gitorious
Comment[gl]=Intercambiar o Chrome na interface de Gitorious
Comment[km]=បិទ/បើក​ក្រូម​នៅ​ក្នុង​ចំណុចប្រទាក់ Gitorious
Comment[nb]=Slå Chrome i Gitorious-brukerflaten av/på
Comment[nl]=Het Chrome in Gitorious-interface omschakelen
Comment[pl]=Przełącz Chrome w interfejsie Gitorious
Comment[pt]=Activar o Chrome na Interface do Gitorious
Comment[pt_BR]=Ativar o Chrome na interface do Gitorious
Comment[sk]=Prepnúť Chrome v rozhraní Gitorious
Comment[sv]=Växla gränssnittet Chrome i Gitorious
Comment[uk]=Увімкнути або вимкнути Chrome у інтерфейсі Gitorious
Comment[x-test]=xxToggle the Chrome in Gitorious Interfacexx
Icon=view-fullscreen
Name=Toggle Chrome
Name[et]=Chrome'i lülitamine 
Name[fr]=Activation / Désactivation de Chrome
Name[gl]=Intercambiar Chrome
Name[km]=បិទ/បើក​ក្រូម
Name[nb]=Slå Chrome av/på
Name[nl]=Chrome omschakelen
Name[pl]=Przełącz Chrome
Name[pt]=Activar o Chrome
Name[pt_BR]=Ativar o Chrome
Name[sk]=Prepnúť Chrome
Name[sv]=Växla Chrome
Name[uk]=Вмикання або вимикання Chrome
Name[x-test]=xxToggle Chromexx
Type=Service
X-KDE-PluginInfo-Name=silk-sidebar
X-KDE-ServiceTypes=Silk/WebApp/Action
X-Silk-Script=
X-Silk-ScriptFile=togglesidebar.js
X-Silk-ShowOnUrl=http://gitorious.org/
X-Silk-ShowOnWildcard=
X-Silk-TriggerOnUrl=
X-Silk-TriggerOnWildcard=
X-Silk-WebApp=silk
