[Desktop Entry]
Name=Source Tree
Name[de]=Quelltextbaum
Name[et]=Lähtekoodipuu
Name[fr]=Arborescence des sources
Name[gl]=Árbore fonte
Name[hu]=Forrásfa
Name[km]=មែកធាង​ប្រភព
Name[nb]=Kildetre
Name[nds]=Bornboom
Name[nl]=Boomstructuur van bron
Name[pl]=Drzewo źródła
Name[pt]=Árvore de Código
Name[pt_BR]=Árvore de código
Name[sv]=Källkodsträd
Name[uk]=Структура коду
Name[x-test]=xxSource Treexx
Comment=View Project Silk's Commit Log
Comment[et]=Projekti Silk sissekannete logi näitamine
Comment[fr]=Affiche le journal de validation du projet Silk
Comment[gl]=Ver o rexistro de envíos do proxecto Silk
Comment[km]=មើល​កំណត់ហេតុ Commit របស់ Project Silk
Comment[nb]=Vis innsendingsloggen for Prosjekt Silk
Comment[nl]=Log van vastleggen van project Silk bekijken
Comment[pl]=Zobacz dziennik dokonań projektu Silk
Comment[pt]=Ver o Registo de Envios para o Projecto Silk
Comment[pt_BR]=Visualizar o registro de commits para o projeto Silk
Comment[sv]=Visa Silk-projektets incheckningslogg
Comment[uk]=Перегляд журналу внесків проекту Silk
Comment[x-test]=xxView Project Silk's Commit Logxx
Icon=view-list-tree

Type=Service
X-KDE-ServiceTypes=Silk/WebApp/Action
X-KDE-PluginInfo-Name=silk-sourcetree

X-Silk-WebApp=silk
X-Silk-ShowOnUrl=http://gitorious.org/project-silk/project-silk/commits/master
X-Silk-ScriptFiles=noop-script.js
X-Silk-Script=window.location = 'http://gitorious.org/project-silk/project-silk/trees'
