[Desktop Entry]
Name=Buienradar
Name[de]=Buienradar
Name[es]=Buienradar
Name[et]=Buienradar
Name[fr]=Buienradar
Name[gl]=Buienradar
Name[km]=Buienradar
Name[nb]=Buienradar
Name[nl]=Buienradar
Name[pl]=Buienradar
Name[pt]=Buienradar
Name[pt_BR]=Buienradar
Name[sk]=Buienradar
Name[sv]=Buienradar
Name[uk]=Buienradar
Name[x-test]=xxBuienradarxx
Comment=Rain in The Netherlands?
Comment[de]=Regnet es in den Niederlanden?
Comment[et]=Vihm Hollandis?
Comment[fr]=Pluie sur les Pays-Bas ?
Comment[gl]=Choveu nos Países Baixos?
Comment[km]=តើ​ភ្លៀង​នៅ​ក្នុង​ប្រទេស​ហូឡង់​ឬ ?
Comment[nb]=Regner det i Nederland?
Comment[nl]=Regen in Nederland?
Comment[pl]=Czy pada w Holandii?
Comment[pt]=Chove na Holanda?
Comment[pt_BR]=Chove na Holanda?
Comment[sv]=Regn i Nederländerna?
Comment[uk]=Дощ у Нідерландах?
Comment[x-test]=xxRain in The Netherlands?xx
Exec=selkie buienradar
Icon=kweather
Type=Application
