[Desktop Entry]
Name=Buienradar
Name[de]=Buienradar
Name[es]=Buienradar
Name[et]=Buienradar
Name[fr]=Buienradar
Name[gl]=Buienradar
Name[km]=Buienradar
Name[nb]=Buienradar
Name[nl]=Buienradar
Name[pl]=Buienradar
Name[pt]=Buienradar
Name[pt_BR]=Buienradar
Name[sk]=Buienradar
Name[sv]=Buienradar
Name[uk]=Buienradar
Name[x-test]=xxBuienradarxx
Comment=Rain in The Netherlands?
Comment[de]=Regnet es in den Niederlanden?
Comment[et]=Vihm Hollandis?
Comment[fr]=Pluie sur les Pays-Bas ?
Comment[gl]=Choveu nos Países Baixos?
Comment[km]=តើ​ភ្លៀង​នៅ​ក្នុង​ប្រទេស​ហូឡង់​ឬ ?
Comment[nb]=Regner det i Nederland?
Comment[nl]=Regen in Nederland?
Comment[pl]=Czy pada w Holandii?
Comment[pt]=Chove na Holanda?
Comment[pt_BR]=Chove na Holanda?
Comment[sv]=Regn i Nederländerna?
Comment[uk]=Дощ у Нідерландах?
Comment[x-test]=xxRain in The Netherlands?xx
Icon=kweather
Type=Service

X-KDE-ServiceTypes=Silk/WebApp

X-KDE-PluginInfo-Author=Tom Albers
X-KDE-PluginInfo-Email=toma@kde.org
X-KDE-PluginInfo-Name=buienradar
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Weather
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-StartUrl=http://www.buienradar.nl/
X-Silk-AllowedBases=http://www.buienradar.nl
