[Desktop Entry]
Name=Geoweb
Name[de]=Geoweb
Name[es]=Geoweb
Name[et]=Geoveeb
Name[fr]=Géoweb
Name[gl]=Geoweb
Name[hu]=Geoweb
Name[km]=Geoweb
Name[nb]=Geoweb
Name[nds]=Geoweb
Name[nl]=Geoweb
Name[pl]=Geoweb
Name[pt]=Geoweb
Name[pt_BR]=Geoweb
Name[sk]=Geoweb
Name[sv]=Geoweb
Name[uk]=Geoweb
Name[x-test]=xxGeowebxx
Comment=Provides information about local services
Comment[es]=Proporciona información sobre servicios locales
Comment[et]=Teave kohalike teenuste kohta
Comment[fr]=Fournit des informations à propos de services locaux
Comment[gl]=Ofrece información sobre servizos locais
Comment[hu]=Információkat szolgáltat a helyi szolgáltatásokról
Comment[km]=ផ្ដល់​ព័ត៌មាន​អំពី​សេវាកម្ម​មូលដ្ឋាន
Comment[nb]=Gir opplysninger om lokale tjenester
Comment[nl]=Levert informatie over lokale services
Comment[pl]=Dostarcza informacji o usługach lokalnych
Comment[pt]=Fornece informações sobre serviços locais
Comment[pt_BR]=Fornece informações sobre os serviços locais
Comment[sv]=Ger information om lokala tjänster
Comment[uk]=Надає інформацію щодо локальних служб
Comment[x-test]=xxProvides information about local servicesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_geoweb
X-Plasma-EngineName=geoweb
X-KDE-PluginInfo-Author=Peter Schiffer
X-KDE-PluginInfo-Email=peter.schiffer@eyeos.cz
X-KDE-PluginInfo-Name=geoweb
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=applications-internet
