[Desktop Entry]
Name=Twitter
Comment=Setup your Twitter account on this computer
Icon=project-development
Type=Service
X-KDE-ServiceTypes=Silk/WebService

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=http://techbase.kde.org/Projects/Silk/Webwelcome
X-KDE-PluginInfo-Category=Internet
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Silk-KcmName=webservice_twitter
