[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Silk/WebApp

Name=Silk WebApp
Name[pt]=Aplicação Web do Silk
Name[pt_BR]=Aplicativo Web do Silk
Name[sv]=Silk-webbprogram
Name[uk]=Вебпрограма Silk
Name[x-test]=xxSilk WebAppxx
Comment=Silk Web Application
Comment[pt]=Aplicação Web do Silk
Comment[pt_BR]=Aplicativo Web do Silk
Comment[sv]=Silk-webbprogram
Comment[uk]=Вебпрограма Silk
Comment[x-test]=xxSilk Web Applicationxx

[PropertyDef::X-Silk-StartUrl]
Type=QString

[PropertyDef::X-Silk-WindowTitle]
Type=QString

[PropertyDef::X-Silk-AllowedBases]
Type=QStringList

[PropertyDef::X-Silk-StyleSheets]
Type=QStringList

