[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Silk/WebApp/Action

Name=Silk WebApp Action
Name[et]=Silki veebirakenduse toiming
Name[nb]=Handling for Silk vevprogram
Name[pt]=Acção da Aplicação Web do Silk
Name[pt_BR]=Ação do aplicativo Web do Silk
Name[sv]=Silk-webbåtgärd program
Name[uk]=Дія вебпрограми Silk
Name[x-test]=xxSilk WebApp Actionxx
Comment=Silk Web Action ServiceType
Comment[et]=Silki veebitoimingu teenusetüüp
Comment[nb]=Tjenestetype for Silk vevprogram
Comment[pt]=Tipo de Serviço da Acção Web do Silk
Comment[pt_BR]=Tipo de serviço da ação Web do Silk
Comment[sv]=Silk-webbåtgärd servicetyp
Comment[uk]=Тип служби вебдій Silk
Comment[x-test]=xxSilk Web Action ServiceTypexx

[PropertyDef::X-Silk-WebApp]
Type=QString

[PropertyDef::X-Silk-TriggerOnUrl]
Type=QStringList

[PropertyDef::X-Silk-ShowOnUrl]
Type=QStringList

[PropertyDef::X-Silk-TriggerOnWildcard]
Type=QStringList

[PropertyDef::X-Silk-ShowOnWildcard]
Type=QStringList

[PropertyDef::X-Silk-ScriptFile]
Type=QString

[PropertyDef::X-Silk-Script]
Type=QString



