[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Silk/WebApp

Name=Silk WebApp
Name[et]=Silki veebirakendus
Name[fr]=Application web de Silk
Name[km]=Silk WebApp
Name[nb]=Silk vevprogram
Name[nl]=Silk WebApp
Name[pl]=Program sieciowy Silk
Name[pt]=Aplicação Web do Silk
Name[pt_BR]=Aplicativo Web do Silk
Name[sv]=Silk-webbprogram
Name[uk]=Вебпрограма Silk
Name[x-test]=xxSilk WebAppxx
Comment=Silk Web Application
Comment[de]=Silk-Web-Anwendung
Comment[et]=Silki veebirakendus
Comment[fr]=Application web de Silk
Comment[km]=កម្មវិធី​បណ្ដញ Silk
Comment[nb]=Silk vevprogram
Comment[nl]=Silk web-toepassing
Comment[pl]=Program sieciowy Silk
Comment[pt]=Aplicação Web do Silk
Comment[pt_BR]=Aplicativo Web do Silk
Comment[sv]=Silk-webbprogram
Comment[uk]=Вебпрограма Silk
Comment[x-test]=xxSilk Web Applicationxx

[PropertyDef::X-Silk-StartUrl]
Type=QString

[PropertyDef::X-Silk-WindowTitle]
Type=QString

[PropertyDef::X-Silk-AllowedBases]
Type=QStringList

[PropertyDef::X-Silk-StyleSheets]
Type=QStringList

