[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Silk/WebApp/Action

Name=Silk WebApp Action
Name[bs]=Akcije Web aplikacija Silk-a
Name[de]=Aktion für Silk-Web-Anwendung
Name[es]=Aplicación web de tipo acción de Silk
Name[fr]=Action d'application Web de Silk
Name[gl]=Acción da webapp de Silk
Name[km]=សកម្មភាព Silk WebApp
Name[nb]=Handling for Silk vevprogram
Name[nl]=Silk WebApp-actie
Name[pl]=Działanie programu sieciowego dla Silk
Name[pt]=Acção da Aplicação Web do Silk
Name[pt_BR]=Ação do aplicativo Web do Silk
Name[sk]=Akcia webovej aplikácie Silk
Name[sv]=Silk-webbåtgärd program
Name[uk]=Дія вебпрограми Silk
Name[x-test]=xxSilk WebApp Actionxx
Comment=Silk Web Action ServiceType
Comment[bs]=Tipovi usluga web akcija Silk-a
Comment[de]=Diensttyp für Silk-Web-Anwendung
Comment[es]=ServiceType de acción web de Silk
Comment[fr]=Type de service d'actions Web de Silk
Comment[gl]=Tipo do servizo de acción web de Silk
Comment[km]=ServiceType សកម្មភាព​បណ្ដាញ Silk
Comment[nb]=Tjenestetype for Silk vevprogram
Comment[nl]=Servicetype van Silk Web-actie
Comment[pl]=Typ usługi działania sieciowego dla Silk
Comment[pt]=Tipo de Serviço da Acção Web do Silk
Comment[pt_BR]=Tipo de serviço da ação Web do Silk
Comment[sk]=Silk Web Akcia ServiceType
Comment[sv]=Silk-webbåtgärd servicetyp
Comment[uk]=Тип служби вебдій Silk
Comment[x-test]=xxSilk Web Action ServiceTypexx

[PropertyDef::X-Silk-WebApp]
Type=QString

[PropertyDef::X-Silk-TriggerOnUrl]
Type=QStringList

[PropertyDef::X-Silk-ShowOnUrl]
Type=QStringList

[PropertyDef::X-Silk-TriggerOnWildcard]
Type=QStringList

[PropertyDef::X-Silk-ShowOnWildcard]
Type=QStringList

[PropertyDef::X-Silk-ScriptFile]
Type=QString

[PropertyDef::X-Silk-Script]
Type=QString



