[Desktop Entry]
Name=Wikipedia
Comment=Wikipedia Setup
Exec=kcmshell4 silk_webservice_wikipedia

Terminal=false
Type=Service
Icon=internet-web-browser
Categories=Qt;KDE;X-KDE-settings-hardware;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=silk_webservice_wikipedia
X-KDE-Test-Module=true
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-ParentApp=kcontrol
X-KDE-Weight=70


X-KDE-Keywords=web,wiki,internet,silk
