[Desktop Entry]
Name=webappeditor
Name[et]=Veebirakenduse redaktor
Name[fr]=webappeditor
Name[km]=webappeditor
Name[nb]=webappeditor
Name[nl]=webappeditor
Name[pl]=edytor_programu_sieciowego
Name[pt]=webappeditor
Name[pt_BR]=webappeditor
Name[sk]=webappeditor
Name[sv]=Webbprogrameditor
Name[uk]=webappeditor
Name[x-test]=xxwebappeditorxx
Exec=webappeditor %i -caption "%c"
Icon=webappeditor
Type=Application
X-DocPath=webappeditor/index.html
GenericName=An Application to create Selkie Applications
GenericName[de]=Eine Anwendung, um Selkie-Programme zu erstellen
GenericName[et]=Rakendus Selkie rakenduste loomiseks
GenericName[fr]=Une application pour créer des applications Selkie
GenericName[km]=ជា​កម្មវិធី​សម្រាប់​បង្កើត​កម្មវិធី​ Selkie
GenericName[nb]=Et program for å lage Selkie-programmer
GenericName[nl]=Een toepassing om Selkie-toepassingen te maken
GenericName[pl]=Program do tworzenia programów Selkie
GenericName[pt]=Uma Aplicação para Criar Aplicações do Selkie
GenericName[pt_BR]=Um programa para criação de aplicativos do Selkie
GenericName[sv]=Ett program för att skapa Selkie-program
GenericName[uk]=Програма для створення програм Selkie
GenericName[x-test]=xxAn Application to create Selkie Applicationsxx
Terminal=false
