[Desktop Entry]
Name=webappeditor
Name[et]=Veebirakenduse redaktor
Name[nb]=webappeditor
Name[pt]=webappeditor
Name[pt_BR]=webappeditor
Name[sv]=Webbprogrameditor
Name[uk]=webappeditor
Name[x-test]=xxwebappeditorxx
Exec=webappeditor %i -caption "%c"
Icon=webappeditor
Type=Application
X-DocPath=webappeditor/index.html
GenericName=An Application to create Selkie Applications
GenericName[et]=Rakendus Selkie rakenduste loomiseks
GenericName[km]=ជា​កម្មវិធី​សម្រាប់​បង្កើត​កម្មវិធី​ Selkie
GenericName[nb]=Et program for å lage Selkie-programmer
GenericName[pt]=Uma Aplicação para Criar Aplicações do Selkie
GenericName[pt_BR]=Um programa para criação de aplicativos do Selkie
GenericName[sv]=Ett program för att skapa Selkie-program
GenericName[uk]=Програма для створення програм Selkie
GenericName[x-test]=xxAn Application to create Selkie Applicationsxx
Terminal=false
